
.alignCenter {
  display: flex;
  align-items: center;
}

.flexHeight {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flexCenter {
  @extend .alignCenter;
  justify-content: center;
}

// hack style about scrollbar
@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    // background-color: transparent;
  }

  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: transparent;
  }

  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, .3);
    background-color: #bcbcbc;
  }
}

// 单行文本超出隐藏并显示...省略号
@mixin line-text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行文本超出隐藏并显示...省略号，传入变量行数
@mixin ellipsis-muti-line($lineNum) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lineNum;
  /*! autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}